Repository akash-network/akash-api, pull requests merged in 2024-05, with the labels that each got.

#160 feat(go): add mTLS verify reference implementation
  go.mod
  go.sum
  go/node/cert/v1beta3/errors.go
  go/node/cert/v1beta3/utils/constants.go
  go/node/cert/v1beta3/utils/key_pair_manager.go
  go/node/cert/v1beta3/utils/utils.go
  go/node/market/v1beta4/bid_test.go
  go/util/tls/verify.go
Labels: C:go/node

#161 feat(go): migrate cert testutil from node repo
  go/testutil/base.go
  go/testutil/cert.go
  go/testutil/deployment.go
  go/testutil/ids.go
Labels: C:go/testutil

#162 fix(go): do not delete deposit authz when remaining limit is 0
  go/node/deployment/v1beta3/deposit_deployment_authorization.go
  go/node/deployment/v1beta3/types_test.go
Labels: C:go/node

#166 fix(ts): ensures patches are preserved during code generation
  Makefile
  script/protocgen-legacy.sh
  script/ts-patches.sh
  ts/README.md
  ts/package.json
Labels: Type: Build

#169 refactor(codegen): keep ts cleanup within protogen script
  Makefile
  make/codegen.mk
  script/protocgen-legacy.sh
  script/ts-patches.sh
Labels: Type: Build

#158 feat(ts): implement grpc-js client services (#184)
  .env
  Makefile
  make/setup-cache.mk
  script/protocgen-legacy.sh
  script/ts-patches.sh
  ts/package-lock.json
  ts/package.json
  ts/src/generated/akash/deployment/v1beta2/service.grpc-js.ts
  ts/src/generated/akash/deployment/v1beta3/service.grpc-js.ts
  ts/src/generated/akash/inventory/v1/service.grpc-js.ts
  ts/src/generated/akash/manifest/v2beta1/service.grpc-js.ts
  ts/src/generated/akash/manifest/v2beta2/service.grpc-js.ts
  ts/src/generated/akash/market/v1beta2/service.grpc-js.ts
  ts/src/generated/akash/market/v1beta3/service.grpc-js.ts
  ts/src/generated/akash/market/v1beta4/service.grpc-js.ts
  ts/src/generated/akash/provider/lease/v1/service.grpc-js.ts
  ts/src/generated/akash/provider/v1/service.grpc-js.ts
  ts/src/generated/index.akash.deployment.v1beta2.grpc-js.ts
  ts/src/generated/index.akash.deployment.v1beta3.grpc-js.ts
  ts/src/generated/index.akash.inventory.v1.grpc-js.ts
  ts/src/generated/index.akash.manifest.v2beta1.grpc-js.ts
  ts/src/generated/index.akash.manifest.v2beta2.grpc-js.ts
  ts/src/generated/index.akash.market.v1beta2.grpc-js.ts
  ts/src/generated/index.akash.market.v1beta3.grpc-js.ts
  ts/src/generated/index.akash.market.v1beta4.grpc-js.ts
  ts/src/generated/index.akash.provider.lease.v1.grpc-js.ts
  ts/src/generated/index.akash.provider.v1.grpc-js.ts
Labels: Type: Build

#170 chore(ts): prepare patches tmp dir
  .env
  make/setup-cache.mk
  script/ts-patches.sh
Labels: Type: Build

#171 fix(scripts): add missing $ in var dereference
  script/ts-patches.sh
Labels: Type: Build

#172 fix(protogen): handle tmp dirs within protogen script
  make/setup-cache.mk
  script/protocgen-legacy.sh
Labels: Type: Build
