Repository akash-network/akash-api, pull requests merged in 2024-04, with the labels that each got.

#144 feat(private-containers): private registries
  docs/proto/node.md
  docs/proto/provider.md
  go/manifest/v2beta2/service.pb.go
  proto/provider/akash/manifest/v2beta2/service.proto
Labels: C:go/manifest, C:proto/provider, Typ: Docs

#139 docs(node/client): documentation and interface implementation checks
  go/node/client/client.go
  go/node/client/v1beta2/client.go
  go/node/client/v1beta2/node.go
  go/node/client/v1beta2/query.go
  go/node/client/v1beta2/tx.go
Labels: C:go/node

#141 refactor(cdci): improves workflows code style (#206)
  .github/workflows/release.yaml
Labels: Type: CI

#143 feat(ts): implements testing and release (#184)
  .env
  .github/workflows/lint.yaml
  .github/workflows/release-ts.yaml
  .github/workflows/tests.yaml
  Makefile
  codecov.yml
  docs/proto/node.md
  docs/proto/provider.md
  make/codegen.mk
  make/lint.mk
  make/release-ts.mk
  make/setup-cache.mk
  make/test.mk
  ts/.eslintrc.json
  ts/.npmignore
  ts/.npmrc
  ts/.releaserc
  ts/jest.config.js
  ts/package-lock.json
  ts/package.json
  ts/script/generate-exports.js
  ts/script/remove-exports.js
  ts/src/generated/akash/manifest/v2beta2/service.ts
  ts/src/index.ts
  ts/src/patch/cosmos/base/v1beta1/coin.spec.ts
  ts/src/patch/cosmos/base/v1beta1/coin.ts
  ts/src/patch/index.akash.base.v1beta3.ts
  ts/src/patch/index.akash.base.v1beta4.ts
  ts/src/patch/index.akash.deployment.v1beta2.ts
  ts/src/patch/index.akash.deployment.v1beta3.ts
Labels: Type: Build, Type: CI, Typ: Docs

#146 fix(ts): does not mark ts release as latest in github
  .github/workflows/release-ts.yaml
  .github/workflows/tests.yaml
  make/release-ts.mk
  script/release-ts.sh
  ts/.npmignore
  ts/.releaserc
  ts/README.md
  ts/jest.config.js
  ts/package.json
Labels: Type: Build, Type: CI

#148 ci: ensures unique concurrency group for release-ts workflow
  .github/workflows/release-ts.yaml
  .github/workflows/tests.yaml
Labels: Type: CI

#153 fix(go/client): apply gas adjustment option in Broadcast call if set
  go/node/client/v1beta2/tx.go
Labels: C:go/node

#152 fix(ts): does not add ts hooks by default
  Makefile
  make/code-style.mk
  script/gofmt-staged.sh
  ts/.husky/pre-commit
  ts/package-lock.json
  ts/package.json
Labels: Type: Build

#154 chore(go/dtypes): add deployment depositor error
  go/node/deployment/v1beta3/errors.go
Labels: C:go/node

#155 feat(go/escrow): add error for invalid depositor
  go/node/escrow/v1beta3/account.go
  go/node/escrow/v1beta3/error.go
Labels: C:go/node

#156 refactor: derive tx factory on each iteration
  go/node/client/v1beta2/tx.go
Labels: C:go/node
